section.sale-item
    .sale-item__bg
        img(src="img/bg.jpg", alt="bg")
    .item
        a.logo(href="#")
            img(src="img/logo.png", alt="Nike")
        .slider
            .slider__imgs
                .slider__img.js-slider__img
                    img(src="img/nike.png", alt="nike")
                .slider__img.js-slider__img
                    img(src="img/nike.png", alt="nike")
                .slider__img.js-slider__img
                    img(src="img/nike.png", alt="nike")
                .slider__img.js-slider__img
                    img(src="img/nike.png", alt="nike")  
            .slider__dots
                span.js-slider__dot.active
                span.js-slider__dot
                span.js-slider__dot
                span.js-slider__dot 
        .item__inner
            h3.item__title Nike SB Stefan Janoski Max
            .item__categories
                a(href="#") Unisex 
                a(href="#") Skateboarding Shoe
            .stars
                span.stars__star.stars__star--fill
                span.stars__star.stars__star--fill
                span.stars__star.stars__star--fill
                span.stars__star
                span.stars__star
            .item__selects
                .select
                    .select__header.js-select__header
                        span.select__current Size
                    .select__icon
                    .select__body
                        .select__item.js-select__item M
                        .select__item.js-select__item L
                        .select__item.js-select__item XL
                        .select__item.js-select__item XXL
                .select
                    .select__header.js-select__header
                        span.select__current Qty
                    .select__body
                        .select__item.js-select__item 1
                        .select__item.js-select__item 2
                        .select__item.js-select__item 3
                        .select__item.js-select__item >3
            button.button Add to cart