$dark_text: #262626;
$light_text: #ffffff;
$btn_header: #ff6033;
$btn_gallery: #5585a2;
$btn_subscribe: #96b92c;
$btn_blog: #f72b3b;
$btn_send: #355b82;
$form_color: #00c4c4;
$footer_color: #afafaf;
$about_bg: #02b3b3;
$services_bg: #70bfff;
$gallery_bg: #ffe92f;
$subscribe_bg: #ffffff;
$blog_bg: #b07cf7;
$footer_bg: $dark_text;
$love_color: #ff2b58;